body{
    background-color: #222 ;
}

.social-menu ul{
    position: absolute;
    top: 50%;
    left: 35%;
    padding: 0;
    margin: 0; 
    transform: translate(-50% -50%);
    display: flex;
}

.social-menu ul li{
    list-style: none;
    margin: 0 15px;
}

.social-menu ul li .fa{
    font-size: 30px;
    line-height: 60px;
    transition: .6s;
    color: #000;
}

.social-menu ul li .fa:hover{
    color: #fff;
}

.social-menu ul li a{
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    transition: .6s;
    box-shadow: 0 5px 4px rgb(38, 38, 39);
}

.social-menu ul li a:hover{
    transform: translate(0, -10px);
}

.social-menu ul li:nth-child(1) a:hover{
    background-color: #3b5999;
}

.social-menu ul li:nth-child(2) a:hover{
    background-color: #55acee;
}
.social-menu ul li:nth-child(3) a:hover{
    background-color: #e4405f;
}
.social-menu ul li:nth-child(4) a:hover{
    background-color: #0077B5;
}
.social-menu ul li:nth-child(5) a:hover{
    background-color: #211F1F;
}

.container{
    width: 80%;
    margin: 0 auto;
}

header{
    background: #ffffff;
}

header::after{
    content: '';
    display: table;
    clear: both;
}

.logo{
    height: 150px;
    float: left;
    padding: 0px;
}

nav{
    float: right;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin-left: 70px;
    padding-top: 60px;

    position: relative;
}

nav a{
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
}

nav a:hover{
    color: #000;
}

nav a::before{
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: #444;

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 400ms;
}

nav a:hover::before{
    width: 100%;
}