*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


#banner{
    width: 100%;
    height: 100vh;
    position: absolute;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(images/background.jpg);
    background-position: center;
    background-size: cover;
}




