body{
    margin: 0;
    padding: 0;
    background: #222;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

.container{
    width: 80%;
    margin: 0 auto;
}

header{
    background: #ffffff;
}

header::after{
    content: '';
    display: table;
    clear: both;
}

.logo{
    height: 150px;
    float: left;
    padding: 0px;
}

nav{
    float: right;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin-left: 70px;
    padding-top: 60px;

    position: relative;
}

nav a{
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
}

nav a:hover{
    color: #000;
}

nav a::before{
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: #444;

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 400ms;
}

nav a:hover::before{
    width: 100%;
}

#self-img{
    float: right;
    height: auto;
    
    
}

#text{
    text-align: center;
    color: floralwhite;
    font-size: 44px;
    font-family: 'Courier New', Courier, monospace;
}

#text2{
    text-align: center;
    color: floralwhite;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}

#anim{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
}


