*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Courier New', Courier, monospace;
    background-color: #222;
}



main{
    height: 100vh;
}

.banner-weather{

    background-image: url("/weather.PNG");
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
    position: fixed;
    background-color: black;
    width: 40%;
    margin: auto;
    border-radius: 10px;
    float: left;
    padding: 0rem;
    position: fixed;
    top: 10%;
    left: 1%;
    height: 500px;
    line-height: 3rem;
  }


  .search-box{
      width: 100%;
      margin: 0 0 75px;
  }

  .search-box .search-bar{
    display: block;
    width: 100%;
    padding: 15px;
    appearance: none;
    background: none;
    border: none;
    outline: none;

    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0px 0px 16px 16px;
    margin-top: 0px;

    box-shadow: 0px 5px rgba(0,0,0,0.2);

    color: #313131;
    font-size: 20px;

    transition: 0.4s ease;
  }

  .search-box .search-bar:focus{
      background-color: rgba(255, 255, 255, 0.75);
  }

  .location-box .location{
      color: #fff;
      font-size: 32px;
      font-weight: 500;
      text-align: center;
      text-shadow: 3px 3px rgb(50, 50, 70, 0.5);
  }

  .location-box .date{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
  }

  .weather-box{
      text-align: center;
  }

  .weather-box .temp{
      position: relative;
      display: inline-block;
      margin: 30px auto;
      background-color: rgba(255, 255, 255, 0.2);
      border-radius: 16px;

      padding: 15px 25px;

      color: #fff;
      font-size: 102px;
      font-weight: 900;

      text-shadow: 3px 6px rgb(50, 50, 70, 0.5);
      text-align: center;

  }

  .weather-box .weather{
      color: #fff;
      font-size: 48px;
      font-weight: 700;
      text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
  }